<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenantinfo</title>
    <style>
        body {
            background-color: #f4f4f4;
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Tenant Details</h1>
    {% if tenant_details %}
    <div>
        <ul>
            {% for tenant in tenant_details %}
                <p>NAME : {{tenant.name}}</p>
                <P>ADDRESS : {{tenant.address}}</P>
                <P>DOCUMENT PROOFS : {{tenant.document_proofs}}</P>
            <div>
                <h3>RENTAL INFORMATIONS</h3>
                <p>AGREEMENT END DATE : {{tenant.agreement_end_date}}</p>
                <p>MONTHLY RENT DATE : {{tenant.monthly_rent_date}}</p>
            </div>   
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
</html>